################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/DynamicsCRMResourceSynchronization/obj
/DynamicsCRMResourceSynchronization/bin/Debug
/DynamicsCRMResourceSynchronization/Properties/Settings.settings
/DynamicsCRMResourceSynchronization.Core/obj
/DynamicsCRMResourceSynchronization.Core/bin/Debug
/DynamicsCRMResourceSynchronization.Core/Key.snk
/DynamicsCRMResourceSynchronization/Key.snk
