################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/CRMResourceSynchronization/obj
/CRMResourceSynchronization/bin/Debug
/CRMResourceSynchronization/Properties/Settings.settings
/CRMResourceSynchronization.Core/obj
/CRMResourceSynchronization.Core/bin/Debug
/CRMResourceSynchronization.Core/Key.snk
/CRMResourceSynchronization/Key.snk
