<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRMResourceSynchronization.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CRMResourceSynchronization.Properties.Settings>
            <setting name="ClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="CRMUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="CRMUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="CRMPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="CertificateThumprint" serializeAs="String">
                <value />
            </setting>
            <setting name="IntegratedSecurityPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AuthLoginPrompt" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenCacheStorePath" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectUri" serializeAs="String">
                <value />
            </setting>
            <setting name="CRMTypeAuth" serializeAs="String">
                <value />
            </setting>
        </CRMResourceSynchronization.Properties.Settings>
    </userSettings>
</configuration>